* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

ul li {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}